<!--

<div class="modal" id="AddBrick" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title"> {{getWord('New Brick')}}</h4>
            </div>
            <div class="modal-body  form-group">
                <form class="smart-form" name="brickForm">
                    <label class="label"> {{getWord('Name')}} </label>
                    <label class="input"><input type="text" ng-modal="newBrick.name" placeholder="{{getWord('Name')}}" class="input-sm" ng-required/></label>

                    <label class="label"> {{getWord('IP')}} </label>
                    <label class="input"><input type="text" ng-modal="newBrick.ip" placeholder="{{getWord('IP')}}" class="input-sm" ng-required/></label>

                    <label class="label"> {{getWord('Path')}} </label>
                    <label class="input"><input type="text" ng-modal="newBrick.path" placeholder="{{getWord('Path')}}" class="input-sm" ng-required/></label>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary"  ng-click="createNewBrick()" ng-disabled="brickForm.$$invalid">
                    {{getWord('Create Volume')}}
                </button>
            </div>

        </div>&lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
</div>-->
