<div class="modal-header">

    <h4 class="modal-title">
        <i class=" fa fa-plus"></i>{{getWord('Import Console Server')}}
    </h4>
</div>
<div class="modal-body no-padding">

    <form class="smart-form">

        <fieldset>
            <section>
                <div class="row">
                    <label class="label col col-4">{{getWord('Console Server ID')}}</label>

                    <div class="col col-8">
                        <label class="input"> <i class="icon-append fa fa-flag"></i>
                            <input type="text" ng-model="console_server_id" value="{{console_server_id}}" disabled="true">
                        </label>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <label class="label col col-4">{{getWord('Name')}}</label>

                    <div class="col col-8">
                        <label class="input"> <i class="icon-append fa fa-flag"></i>
                            <input type="text" ng-model="console_server_name">
                        </label>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <label class="label col col-4">{{getWord('Description')}}</label>

                    <div class="col col-8">
                        <label class="input"> <i class="icon-append fa fa-flag"></i>
                            <input type="text" ng-model="console_server_des">
                        </label>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <label class="label col col-4">{{getWord('ip')}}</label>
                    <div class="col col-8">
                        <select ng-model="console_server_ip" >
                            <option ng-repeat="console_server_ip in console_server_ips"
                                    value={{console_server_ip}}> {{console_server_ip}}</option>
                        </select>
                    </div>
                </div>
            </section>
        </fieldset>

        <footer>
            <button data-ng-click="importConsoleServer()" class="btn btn-primary">
                {{getWord('Submit')}}
            </button>
            <button type="button" class="btn btn-default" data-ng-click="closeModal()">
                {{getWord('Cancel')}}
            </button>

        </footer>
    </form>


</div>
