
<br>
<div align="center" data-ng-controller="VMConsoleCtl">
    <input type='hidden' id='host' value='{{console_ip}}'>
    <input type='hidden' id='port' value='{{consoleserver_port}}'>
    <lable for="password">Password: </lable><input type='password' id='password' value=''>
    <button class="btn btn-xs  btn-success" id="connectButton" onclick="connect();">Start</button>
    <button class="btn btn-xs  btn-danger" id="connectButton1" onclick="disconnect();">Stop</button>

</div>
<br>
<div id="spice-area">
    <div id="spice-screen" class="spice-screen"></div>
</div>

<div id="message-div" class="spice-message" type="hidden"></div>

<div id="debug-div" type="hidden">

</div>


